auto-install-peers=false
strict-peer-dependencies=false
script-shell="/bin/bash"
build-from-source=true
ignore-scripts=false
enable-pre-post-scripts=true
allow-scripts=all
node-linker=hoisted
build-only-deps=esbuild
